<div class="card-container">
  <div class="card">
    <div class="card-header">Featured</div>
    <div class="card-body">
      <label>Buscar productos: </label>
      <input [(ngModel)]="buscar" 
      [ngClass]="claseDinamica"/>
      <button class="btn btn-primary">Buscar</button>
      <button class="btn btn-primary"  (click)="cambiarClase()">Cambiar clase</button>
      <button
        class="btn btn-sm btn-outline-primary"
        (click)="showModalCrear(content)"
      >
        Crear producto
      </button>
      <button *ngIf="mostrarBotonEditar"
        class="btn btn-sm btn-outline-primary"
        data-id="1"
        (click)="crearProducto($event)"
      >
        Editar producto
      </button>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoría</th>
            <th scope="col">Precio</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productoPaginationInfo.products; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img
                src="{{ item.thumbnail }}"
                class="me-2"
                style="width: 20px"
              />
              {{ item.title }}
            </td>
            <td>{{ item.description }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.price | number }}</td>
            <td>
              <a routerLink="/products/{{ item.id }}">Ver</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ modoFormulario == 1 ? "Crear" : "Editar" }} Producto
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <app-product-crud #childComponentTemplateVariable></app-product-crud>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
      >
        Cerrar
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="crearProducto($event)"
      >
        Guardar 1
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="childComponentTemplateVariable.onCrearProducto()"
      >
        Guardar 2
      </button>
    </div>
  </ng-template>
</div>
