<h2>Ordenes</h2>
<p>Listado de órdenes (Paginación frontend)</p>
<div class="card-container">
  <div
    class="card"
    href="javascript:;"
    *ngFor="
      let item of ordenesPaginationInfo.carts
        | paginate : page_size : page_number
    "
  >
    <span>{{ item?.id }} - Tiene {{ item?.products.length }} agregados</span>
  </div>
  <ngb-pagination
    [(page)]="page_number"
    [pageSize]="page_size"
    [collectionSize]="ordenesPaginationInfo.carts.length"
  ></ngb-pagination>
</div>

<p>Listado de órdenes (Paginación Server side)</p>
<div class="card-container">
  <div
    class="card"
    href="javascript:;"
    *ngFor="let item of ordenesPaginationInfoLimitSkip.carts"
  >
    <span>{{ item?.id }} - Tiene {{ item?.products.length }} agregados</span>
  </div>
  <ngb-pagination
    [(page)]="pageNumber"
    [pageSize]="pageSize"
    [collectionSize]="ordenesPaginationInfoLimitSkip.total"
  ></ngb-pagination>
</div>
