<nav
  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
>
  <!-- Sidebar Toggle (Topbar) -->
  <button
    class="btn btn-link d-md-none rounded-circle mr-3"
    id="sidebarToggle"
    data-cy="topNavToggleSideNav"
    (click)="toggleSideNav()"
  >
    <fa-icon [icon]="['fas', 'bars']"></fa-icon></button
  ><!-- Navbar Search-->
  <form
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
  >
    <div class="input-group">
      <input
        type="text"
        class="form-control bg-light border-0 small"
        placeholder="Search for..."
        aria-label="Search"
        aria-describedby="basic-addon2"
      />
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
            <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </button>
      </div>
    </div>
  </form>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto" app-top-nav-user>
  </ul>
</nav>
